

body {
    background-color: #F8F8F8;
}



.card-deck {
    margin-bottom: 20px;
}

.custom-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}


.card-story {
    .card-footer {
        background-color: inherit;
    }
}