<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/header.html' %}
    <title>Hacker News</title>
</head>

<body>

    <div class="container">

        <div class="d-block d-lg-flex align-items-center justify-content-between mt-5">
            <h1 class="custom-header-font mb-3 mb-lg-0">Hacker News</h1>

            <!-- sort/display options -->
            <div class="d-md-flex align-items-center">

                <!-- sort by input -->
                <div class="d-flex align-items-baseline mr-4">
                    <span><b>Sort by:</b></span>
                    
                    <div class="ml-2">
                        <select id="stories-sort-option" class="form-control form-control-sm">
                            <option value="0">Default</option>
                            <option value="1">Score</option>
                            <option value="2">Comments</option>
                            <option value="3">Title</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex mt-3 mt-md-0 justify-content-between align-items-center">

                    <!-- view selection -->
                    <div class="d-flex align-items-baseline mr-4">
                        <span><b>Display:</b></span>

                        <div class="btn-group btn-group-sm btn-group-toggle ml-2" data-toggle="buttons">
                            
                            <!-- gallery view -->
                            <label class="btn btn-outline-secondary active" title="Gallery view">
                                <input type="radio" name="stories-display-option" checked value="gallery"> <i class='bx bxs-grid'></i>
                            </label>
                            
                            <!-- list view -->
                            <label class="btn btn-outline-secondary" title="List view">
                                <input type="radio" name="stories-display-option" value="list"> 
                                <i class='bx bx-list-ul'></i>
                            </label>

                        </div>
                    </div>

                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="widescreen-checkbox-input">
                            <label class="custom-control-label" for="widescreen-checkbox-input">Widescreen</label>
                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>

    <div class="container" id="stories-bs-container">

        <hr>

        <!-- "back to top" button -->
        <button type="button" class="btn btn-sm btn-outline-dark btn-scroll-top d-none">Back to top</button>

        <!-- stories get placed here -->
        <div id="stories-container"></div>
    </div>

    <!-- js -->
    {% include 'includes/footer.html' %}

    <!-- custom js -->
    <script src="/static/js/dist/index.bundle.js"></script>

</body>

</html>