<nav class="navbar navbar-expand-lg application-navbar">
    <div class="container-fluid">
        <a class="navbar-brand custom-header-font" href="/">Hacker News</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://news.ycombinator.com/news" target="_blank">YCombinator</a>
                </li>
            </ul>
            <form class="d-flex form-view-story" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="form-view-story-input" />
                <button class="btn btn-success btn-submit" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>